---
---

@import "{{ site.theme }}";

code {color: green; font-size: 15px}
body { background-color: var(--bg-color); color: var(--main-color); font-family: 'Roboto Mono', monospace; margin: 0 auto; width: 80%; line-height: 2em; font-size: 0.9em; }

